.table>thead {
    vertical-align: middle;
}

.td {
    vertical-align: middle !important;
}

td {
    display: table-cell !important;
    vertical-align: middle !important;
}

.order_list_title {
    color: black;
    font-weight: bold;
    padding: 20px 0;
    font-size: 32px;
}

table img {
    width: 50px;
    height: 50px;
}
table i{
    cursor: pointer;
}