# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


Client ID: 896031510552-cet1ea1246k91l3ouqagfdldq6tv32no.apps.googleusercontent.com
Client secret: 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
api key -- > AIzaSyAkCaYH_qZDF1nGORnHUZwl44K4qXpe89s