/* RESET's PART STARTS HERE */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ruda', sans-serif;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 1.2em;
  color: #fff;
  font-weight: 400;
}

figure,
p,
h1,
h2,
h3,
h4,
h5,
ul {
  margin: 0;
  padding: 0;
}

h1 {
  color: #fff;
  font-size: 2em;
  font-weight: 900;
}

h3 {
  color: #fff;
  font-size: 1.7em;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

ul>li {
  color: #000;
}

a {
  text-decoration: none;
  color: #B25C41;

}

/* RESET's PART ENDS HERE */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* PROPERTIES ON MOBILE FIRST START HERE */







/* PROPERTIES ON MOBILE FIRST END HERE */

/* PROPERTIES ON TABLETS */


@media screen and (min-width:768px) {



  /*.header_site > .section_header {
display: flex;
flex-direction: row;
width: 90%;
margin: 0 auto;
}	



header > section > .nav_header {
padding-top: 5px;
text-align: right;
width: 50%;
}


main > .item1 > p {
width: 60%;
margin: 0px auto 15px; 
text-align: center;
}

*/


}





@media screen and (min-width:1024px) {

  /* PROPRETIES FOR INDEX.HTML START HERE */

  .header_site {
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 999;
  }

  .header_site>.section_header {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
  }

  .header_site>.section_header>figure {
    width: 50%;
    height: auto;
  }

  .header_site>.section_header>figure img {
    width: 40%;
    height: auto;
  }

  .header_site>.section_header>.nav_header {
    width: 50%;
    height: auto;
  }

  .header_site>.section_header>.nav_header ul {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
  }

  .header_site>.section_header>.nav_header ul>li {
    display: inline-block;
    margin: 5px 8px;
    font-size: 1.3em;
    font-weight: 900;

  }

  .header_site>.section_header>.nav_header ul>li>a:hover {
    color: #ea875b;
    transition: color 0.3s ease;

  }
}

main.main_site {
  width: 100%;
  height: auto;
}

.main_site>article {
  width: 100%;
  height: auto;
}

.main_site>article>.form_section {
  width: 100%;
  min-height: 102vh;
  margin: 0 auto;
  display: flex;
  background-image: url("../../imgs/intro.png");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  flex-direction: column;
  /*justify-content: center;*/
}

.main_site>article>.form_section>.log_section {
  display: flex;
  margin: 245px 0 160px;
  color: #fff;
}

.main_site>article>.form_section>.log_section>a {
  color: #fff;
}

.main_site>article>.form_section>.log_section>a:hover {
  text-decoration: underline;
}

.main_site>article>.form_section>.log_section>a.sign_in {
  margin-right: 10px;
}

.main_site>article>.form_section>.log_section>a.log_in {
  margin-left: 10px;
  font-weight: 800;
}




.main_site>article>.form_section h1,
h4 {
  color: #fff;
}

.main_site>article>.form_section h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  padding: 0 0 10px;

}

.main_site>article>.form_section>p {
  font-size: 1.8em;
}

.main_site>article>.form_section>p>span {
  font-weight: 900;
}

.main_site>article>.form_section form {
  width: 62%;
  height: auto;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  box-shadow: 0 11px 10px rgba(0, 0, 0, .1);
}

.main_site>article>.form_section form>.hero_input_icon {
  width: 48px;
  height: 48px;
  background: #EFF5FA;
  text-align: center;

}

.main_site>article>.form_section form>.input_field {
  height: 48px;
  font-size: 16px;
  padding: 0 16px;
  border: none;
  outline: none;
}

.main_site>article>.form_section form>.InputNbPassengers,
.InputNbBaggages {
  width: 60px;
}

.main_site>article>.form_section form>.submit_button {
  height: 48px;
  width: 221px;
  font-weight: 700 !important;
  text-transform: uppercase;
  text-shadow: 0 2px 8px rgba(0, 0, 0, .08);
  background: #FFD018;
  color: #333;
  border: none;

}


section.introduction_section {
  width: 100%;
  height: auto;
}

section.introduction_section p {
  color: #000;
}

section.introduction_section>.intro_container {
  width: 70%;
  padding: 40px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

section.introduction_section>

/*.availability_container*/
figure {
  display: flex;
  justify-content: center;
}


section.introduction_section>.availability_container>figure img {
  width: 50%;
  margin: 0 auto;
}

section.introduction_section>.price_container>figure img {
  width: 40%;
  margin: 0 auto;
}

section.introduction_section>.driver_container>figure img {
  width: 50%;
  margin: 0 auto;
}

section.introduction_section>.intro_container h1 {
  color: #ea875b;
  font-weight: 700;
  padding: 0 0 10px;
}





footer {
  width: 100%;
  height: 278px;
  background-image: url("../../imgs/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  position: static;
  left: 0;
  bottom: 0;
}



/* PROPRETIES FOR SERVICES.HTML START HERE */

.main_site>article.services_article {
  width: 100%;
  min-height: 102vh;
  margin: 0 auto;
  display: flex;
  background-image: url("../../imgs/background_services.png");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main_site>article.services_article>.services_section {
  width: 70%;
  padding-top: 240px;

}

.main_site>article.services_article>.services_section figure {
  padding: 55px 0;

}

.main_site>article.services_article>.services_section figure img {
  width: 50%;
  height: auto;
}

.main_site>article.services_article>.services_section p {
  padding: 10px 0;
}

.main_site>article.services_article>.services_section p:last-child {
  padding-bottom: 50px;
}















/* PROPRETIES FOR ENTREPRISE.HTML START HERE */

.main_site>article.company_article {
  width: 100%;
  min-height: 102vh;
  background-image: url("../../imgs/company.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.main_site>article.company_article>.company_section {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}

.main_site>article.company_article>.company_section h1 {
  padding-bottom: 10px;
}




.main_site>article.company_article>.company_section h1 {
  padding-top: 70px;
}



/* PROPRETIES FOR CONTACT.HTML START HERE */

.contact_article {
  width: 100%;
  min-height: 102vh;
  background-image: url("./assets/contact_background.png") !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_site>article.contact_article>.contact_section {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_site>article.contact_article>.contact_section h1 {
  padding: 0 0 10px;
}

.main_site>article.contact_article>.contact_section form {
  width: 50%;
  padding-top: 285px;
  display: flex;
  flex-direction: column;
}

.main_site>article.contact_article>.contact_section form input {
  display: block;
  border: none;
  border-bottom: 2px solid rgba(255, 204, 0, 0.5);
  background-color: transparent;
  font-weight: bold;
  font-size: 1em;
  color: #fff;
  padding: 30px 0;
  outline: none;
}

.main_site>article.contact_article>.contact_section form input[type=submit] {
  display: block;
  width: 185px;
  height: 50px;
  background: #FFD018;
  margin: 50px auto;
  padding: 10px;
  text-transform: uppercase;
  box-shadow: 0 11px 10px rgba(0, 0, 0, .1);
}